<div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/egresado']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">
        <strong>Perfil profesional</strong>
      </h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <form [formGroup]="formulario">
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Perfil profesional
              </legend>
              <div class="row">
                <div class="col">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Profesión (Campo automático)</mat-label>
                    <input
                      readonly
                      matInput
                      type="text"
                      formControlName="programa"
                    />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Fecha de Grado (DD/MM/AA) </mat-label>
                    <input
                      readonly
                      matInput
                      type="text"
                      formControlName="fechaGrado"
                    />
                    <mat-hint
                      >(Campo reservado para Registro y Control
                      Academico)</mat-hint
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Título Trabajo de Grado</mat-label>
                    <input
                      required
                      matInput
                      #input1
                      maxlength="200"
                      type="text"
                      formControlName="modalidad"
                      id="modalidad"
                    />
                    <mat-hint align="end"
                      >{{ input1.value.length }}/200</mat-hint
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      matInput
                      rows="7"
                      #input2
                      maxlength="500"
                      formControlName="perfil"
                      id="perfil"
                    ></textarea>
                    <mat-hint align="end"
                      >{{ input2.value.length }}/500</mat-hint
                    >
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row text-right">
        <div class="col">
          <button
            class="btn btn-success"
            (click)="generar()"
            [disabled]="!formulario.valid"
          >
            <i class="fa-solid fa-floppy-disk"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
