<div class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/inicio']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">Información académica</h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Otros estudios realizados
            </legend>
            <div class="row text-right mb-2">
              <div class="col">
                <button
                  class="btn btn-usco-vt"
                  (click)="registrarFormularioEstudiosRealizados()"
                >
                  <i class="fa-solid fa-plus"></i> Agregar
                </button>
              </div>
            </div>
            <table
              mat-table
              [dataSource]="dataSourceRegistroEducativo"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{
                    dataSourceRegistroEducativo.filteredData.indexOf(element) +
                      1
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="estudio">
                <th style="width: 20%" mat-header-cell *matHeaderCellDef>
                  Estudio
                </th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.titulo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nivel">
                <th mat-header-cell *matHeaderCellDef>Nivel de formación</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.nivelAcademico }}
                </td>
              </ng-container>
              <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef>Título</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.municipio }}
                </td>
              </ng-container>
              <ng-container matColumnDef="entidad">
                <th mat-header-cell *matHeaderCellDef>Entidad</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.institucion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fechaFin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="finalizado">
                <th mat-header-cell *matHeaderCellDef>Finalizado</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.finalizado == 1">SI</span>
                  <span *ngIf="element.finalizado == 2">NO</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-danger btn-sm mr-2"
                    (click)="eliminarRegistroEducativo(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-info btn-sm"
                    (click)="editarFormularioEstudiosRealizados(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsRegistroEducativo"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsRegistroEducativo"
              ></tr>
            </table>
            <mat-paginator
              #MatPaginatorRegistroEducativo="matPaginator"
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </fieldset>
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Idiomas que domina
            </legend>
            <div class="row text-right mb-2">
              <div class="col">
                <button
                  class="btn btn-usco-vt"
                  (click)="registrarFormularioIdioma()"
                >
                  <i class="fa-solid fa-plus"></i> Agregar
                </button>
              </div>
            </div>
            <table
              mat-table
              [dataSource]="dataSourceIdioma"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSourceIdioma.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="idioma">
                <th mat-header-cell *matHeaderCellDef>Idioma</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.nombre }}
                </td>
              </ng-container>
              <ng-container matColumnDef="conversacion">
                <th mat-header-cell *matHeaderCellDef>Conversación</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.conversacion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="escritura">
                <th mat-header-cell *matHeaderCellDef>Escritura</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.escritura }}
                </td>
              </ng-container>
              <ng-container matColumnDef="lectura">
                <th mat-header-cell *matHeaderCellDef>Lectura</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lectura }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-danger btn-sm mr-2"
                    (click)="eliminarIdioma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-info btn-sm"
                    (click)="editarFormularioIdioma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsIdioma"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsIdioma"
              ></tr>
            </table>
            <mat-paginator
              #MatPaginatorIdioma="matPaginator"
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </fieldset>
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Programas de informática que domina
            </legend>
            <div class="row text-right mb-2">
              <div class="col">
                <button
                  class="btn btn-usco-vt"
                  (click)="registrarFormularioHabilidadInformatica()"
                >
                  <i class="fa-solid fa-plus"></i> Agregar
                </button>
              </div>
            </div>
            <table
              mat-table
              [dataSource]="dataSourceHabilidadInformatica"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{
                    dataSourceHabilidadInformatica.filteredData.indexOf(
                      element
                    ) + 1
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="programa">
                <th mat-header-cell *matHeaderCellDef>Programa</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.nombrePrograma }}
                </td>
              </ng-container>
              <ng-container matColumnDef="dominio">
                <th mat-header-cell *matHeaderCellDef>Dominio</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.dominio }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-danger btn-sm mr-2"
                    (click)="eliminarHabilidadInformatica(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-info btn-sm"
                    (click)="editarFormularioHabilidadInformatica(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsHabilidadInformatica"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: displayedColumnsHabilidadInformatica
                "
              ></tr>
            </table>
            <mat-paginator
              #MatPaginatorHabilidadInformatica="matPaginator"
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
